<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <script src="/static/bootstrap-tagsinput.js"></script>
    <script src="/static/topics.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/typeahead.css">
    <link rel="stylesheet" href="/static/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!-- https://www.w3schools.com/howto/howto_js_collapsible.asp -->
<style>
    .card {
        margin-bottom: 20px;
        padding: 20px;
        min-height: 20%;
    }

    .background-card {
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-color: rgba(255, 255, 255, 0.8);
        background-blend-mode: lighten;
    }

    body {
        font-family: Futura;
        color: #4285F4
    }

    .collapsible-content {
        padding: 0 18px;
        background-color: white;
        overflow: hidden;
        display: none;
        color: gray
    }

    .checked {
        color: orange;
    }

    .collapsible:hover {
        color: skyblue;
    }

    a:hover {
        color: skyblue;
    }

    input {
        width: 100%
    }
</style>

<body>
    <h1 style="font-size: 55px" class="global-search">
        Desti-Nation Matcher
    </h1>
    <form>
        <!-- Activities Input -->
        <div class=row>
            <div class="form-group col-sm-4 offset-sm-4">
                <label for="activitiesInput">Activities</label>
                <input type="text" class="form-control" id="activitiesInput" name="activities"
                    placeholder="Kayaking, Hiking">
                <small id="activitiesHelp" class="form-text text-muted">
                    List out activities that you're interested in doing on your trip!
                </small>
            </div>
        </div>

        <!-- Nearby Input -->
        <div class=row>
            <div class="form-group col-sm-4 offset-sm-4">
                <label for="nearbyInput">Nearby</label>
                <input type="text" class="form-control" id="nearbyInput" name="nearby" placeholder="Paris">
                <small id="nearbyHelp" class="form-text text-muted">
                    In or near what city would you like to travel to?
                </small>
            </div>
        </div>

        <!-- Likes and Dislikes Inputs -->
        <div class=row>
            <div class="form-group col-sm-2 offset-sm-4">
                <label for="likesInput">Likes</label>
                <input type="text" class="form-control" id="likesInput" name="likes" placeholder="Cold, Mountains">
                <small id="likesHelp" class="form-text text-muted">
                    What are some things you would like to have in the places you travel to?
                </small>
            </div>
            <div class="form-group col-sm-2">
                <label for="dislikesInput">Dislikes</label>
                <input type="text" class="form-control" id="dislikesInput" name="dislikes"
                    placeholder="Mosquito, Traffic">
                <small id="dislikesHelp" class="form-text text-muted">
                    What are some things you would not like to have in the places you travel to?
                </small>
            </div>
        </div>

        <!-- Language and Drinking Age Inputs -->
        <div class=row>
            <div class="form-group  col-sm-2 offset-sm-4">
                <label for="languageInput">Language</label>
                <input type="text" class="form-control" id="languageInput" name="language" placeholder="Spanish">
                <small id="languageHelp" class="form-text text-muted">
                    What is the dominant language you would like the local populace to speak?
                </small>
            </div>
            <div class="form-group col-sm-2">
                <label for="drinkingAgeInput">Drinking Age</label>
                <input type="text" class="form-control" id="drinkingAgeInput" name="drinkingAge" placeholder="18">
                <small id="drinkingAgeHelp" class="form-text text-muted">
                    What would you like the drinking age of the destination to be?
                </small>
            </div>
        </div>

        <!-- Submit button -->
        <div style="display: flex; justify-content: center;">
            <button type="submit" class="btn btn-success" style="text-align:center">Go!</button>
        </div>

    </form>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            TEST TYPEAHEAD
            <input id="test" class="typeahead" data-role="tagsinput"></input>
            TEST TAG INPUT
            <input data-role="tagsinput"></input>
        </div>
    </div>

    {% if data %}
    {% for data_idx in range(10) %}
    <div class="row">
        <div class="col-sm-6 offset-sm-3 card background-card"
            style='background-image:url({{ url_for("static", filename="banner.JPG") }})'>
            <div>
                <h4 class="card-title"><a href="{{ data[data_idx]['url'] }}">{{ data[data_idx]['name'] }}</a></h5>
                    <br>
                    <span>Similarity Score: </span>
                    {{ data[data_idx]['sim_stars']|safe }}
                    <span> Nicheness Score: </span>
                    {{ data[data_idx]['nicheness_stars']|safe }}
                    <span> Destination Type: {{ data[data_idx]['type'] }}</span>
                    <br>
                    <br>
                    <!-- <p class="card-text">Location selected because it has:</p> -->
                    <p class="collapsible">Toggle relevant comments</p>
                    <div class="collapsible-content">
                        {% for i in data[data_idx]['reviews'] %}
                        <p style='background-color:{{ "#DAF7A6" if i[1] >= 0.5 else "#FEE081" }}'>
                            {{ (i[0][:299] + "...") if i[0]|length > 299 else i[0] }}</p>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}

</body>
<script>
    var coll = document.getElementsByClassName("collapsible");

    //collapsible
    for (var i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }

    //typeahead
    var topics = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        local: topicsList.map((t) => {
            return {
                "name": t
            };
        }),
    });
    topics.initialize();
    $('#test').tagsinput({
        typeaheadjs: {
            name: 'topics',
            displayKey: 'name',
            valueKey: 'name',
            source: topics.ttAdapter()
        }
    });
</script>

</html>