<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Below three required to run Bootstrap js (such as the collapse feature for Advanced Search -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Above three required to run Bootstrap js (such as the collapse feature for Advanced Search -->
</head>
<!-- https://www.w3schools.com/howto/howto_js_collapsible.asp -->
<style>
    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: silver;
        opacity: 0.5;
        /* Firefox */
    }

    .card {
        margin-bottom: 20px;
        padding: 20px;
        min-height: 20%;
    }

    .background-card {
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-color: rgba(255, 255, 255, 0.5);
        background-blend-mode: lighten;
    }

    body {
        font-family: Futura;
        color: #4285F4
    }

    .collapsible-content {
        padding: 0 18px;
        background-color: white;
        overflow: hidden;
        display: none;
        color: gray
    }

    .checked {
        color: orange;
    }

    .collapsible:hover {
        color: skyblue;
    }

    a:hover {
        color: skyblue;
    }

    input {
        width: 100%
    }

    .content {
        background-color: rgba(255, 255, 255, 0.5);
    }

    #dnm{
        -webkit-animation: spin 2s infinite linear;
        border-radius: 50%;
        display: none;
        margin-left:30px;
    }

    @-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
}

</style>

<body>
    <h1 style="font-size: 55px" class="global-search">
        Desti-Nation Matcher
    </h1>
    <form>
        <!-- Activities Input -->
        <div class="row">
            <div class="form-group col-sm-4 offset-sm-4">
                <label for="activitiesInput">Activities</label>
                <input type="text" class="form-control" id="activitiesInput" name="activities"
                    placeholder="Kayaking, Hiking" value="{{ form_data['activities'] if  form_data['activities']  }}">
                <small id="activitiesHelp" class="form-text text-muted">
                    List out activities that you're interested in doing on your trip!
                </small>
            </div>
        </div>

        <!-- Advanced Search Toggle Button -->
        <div style="display: flex; justify-content: center;">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#advancedSearch" aria-expanded="true" aria-controls="advancedSearch">
                Toggle Advanced Search
            </button>
        </div>

        <!-- Advanced Search -->
        <div class="collapse" id="advancedSearch">
            <!-- Nearby Input -->
            <div class="row">
                <div class="form-group col-sm-4 offset-sm-4">
                    <label for="nearbyInput">Nearby</label>
                    <input type="text" class="form-control" id="nearbyInput" name="nearby" placeholder="Paris"
                        value="{{ form_data['nearby'] if  form_data['nearby'] }}">
                    <small id="nearbyHelp" class="form-text text-muted">
                        In or near what city would you like to travel to?
                    </small>
                </div>
            </div>

            <!-- Likes and Dislikes Inputs -->
            <div class="row">
                <div class="form-group col-sm-2 offset-sm-4">
                    <label for="likesInput">Likes</label>
                    <input type="text" class="form-control" id="likesInput" name="likes" placeholder="Cold, Mountains"
                        value="{{ form_data['likes'] if  form_data['likes'] }}">
                    <small id="likesHelp" class="form-text text-muted">
                        What are some things you would like to have in the places you travel to?
                    </small>
                </div>
                <div class="form-group col-sm-2">
                    <label for="dislikesInput">Dislikes</label>
                    <input type="text" class="form-control" id="dislikesInput" name="dislikes"
                        placeholder="Mosquito, Traffic" value="{{ form_data['dislikes'] if  form_data['dislikes'] }}">
                    <small id="dislikesHelp" class="form-text text-muted">
                        What are some things you would not like to have in the places you travel to?
                    </small>
                </div>
            </div>

                <!-- Language and Drinking Age Inputs -->
            <div class="row">
                <div class="form-group  col-sm-2 offset-sm-4">
                    <label for="languageInput">Language</label>
                    <input type="text" class="form-control" id="languageInput" name="language" placeholder="Spanish"
                        value="{{ form_data['language'] if form_data['language'] }}">
                    <small id="languageHelp" class="form-text text-muted">
                        What is the dominant language you would like the local populace to speak?
                    </small>
                </div>
                <div class="form-group col-sm-2">
                    <label for="drinkingAgeInput">Drinking Age</label>
                    <input type="text" class="form-control" id="drinkingAgeInput" name="drinkingAge" placeholder="18"
                        value="{{ form_data['drinkingAge'] if  form_data['drinkingAge'] }}">
                    <small id="drinkingAgeHelp" class="form-text text-muted">
                        What would you like the drinking age of the destination to be?
                    </small>
                </div>
            </div>
        </div>

        <div class="mb-3"></div>
        <!-- Submit button -->
        <div style="display: flex; justify-content: center;">
            <button id = "submit" type="submit" class="btn btn-success" style="text-align:center">Go!</button>
            <image id = "dnm" width="40px" height="40px" src="{{ url_for('static', filename='dnm.png') }}"></image>
        </div>

    </form>

    {% if data %}
    {% for data_idx in range(10) %}
    <div class="row">
        <div class="col-sm-6 offset-sm-3 card background-card"
            style='background-image:url({{ data[data_idx]["image"] }})'>
            <div>
                <span>
                    <h4 class="card-title"><a class = "content" href="{{ data[data_idx]['url'] }}">{{ data[data_idx]['name'] }}</a>  <span class = "badge">{{ data[data_idx]['type'] }}</span></h4>
                </span>
                <span class=content>
                    <span>Similarity Score: </span>
                    {{ data[data_idx]['sim_stars']|safe }}
                    <br>
                    <span> Nicheness Score: </span>
                    {{ data[data_idx]['nicheness_stars']|safe }}
                    <br>
                    <br>
                    <br>
                </span>
                <!-- <p class="card-text">Location selected because it has:</p> -->
                <span class="collapsible content">Toggle relevant comments</span>
                <div class="collapsible-content">
                    {% for i in data[data_idx]['reviews'] %}
                    <p style='background-color:{{ "#DAF7A6" if i[1] >= 0.5 else "#FEE081" }}'>
                        {{ (i[0][:299] + "...") if i[0]|length > 299 else i[0] }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}

</body>
<script>
    var coll = document.getElementsByClassName("collapsible");

    //collapsible
    for (var i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }

    var submit = document.getElementById("submit");
    submit.addEventListener("click", function (){
        document.getElementById("dnm").setAttribute("style", "display:block;");
    });
</script>

</html>